<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if album.redirect -%}
  <a href="{{ album.redirect }}">
    {%- else -%}
    <a href="{{ album.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if album.img %}
        {%- include figure.html
          path=album.img
          alt="album thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ album.title }}</h2>
          <p class="card-text">{{ album.description }}</p>
        </div>
      </div>
    </a>
</div>